<h3>Top Movies</h3>
<mat-nav-list>
  <mat-card>

    <a mat-list-item><img width="150vw" src="{{movie1}}">

      <nav> <a [routerLink]="['/movie',id1]" routerLinkActive=" active"> More about the movie</a>

      </nav>
      <a routerLink='/view' routerLinkActive="active" (click)="onRent(id1)"> add movie to playlist</a>

    </a>
  </mat-card>

  <mat-card>
    <a mat-list-item><img width="150vw" src="{{movie2}}">
      <nav> <a [routerLink]="['/movie',id2]" routerLinkActive="active"> More about the movie</a>

      </nav>
      <a routerLink='/view' routerLinkActive="active" (click)="onRent(id2)"> add movie to playlist</a>

    </a>
  </mat-card>

  <mat-card>
    <a mat-list-item><img width="
        150vw" src="{{movie3}}">
      <nav> <a [routerLink]="['/movie',id3]" routerLinkActive="active"> More about the movie</a> </nav>
      <a routerLink='/view' routerLinkActive="active" (click)="onRent(id3)"> add movie to playlist</a>
    </a>
  </mat-card>
  <mat-card>
    <a mat-list-item><img width="150vw" src="{{movie4}}">
      <nav> <a [routerLink]="['/movie',id4]" routerLinkActive="active"> More about the movie</a> </nav>
      <a routerLink='/view' routerLinkActive="active" (click)="onRent(id4)"> add movie to playlist</a>
    </a>
  </mat-card>


  <mat-card>
    <a mat-list-item> <img width="150vw" src="{{movie5}}">
      <nav> <a [routerLink]="['/movie',id5]" routerLinkActive="active"> More about the movie</a> </nav>
      <a routerLink='/view' routerLinkActive="active" (click)="onRent(id5)"> add movie to playlist</a>
    </a>
  </mat-card>

</mat-nav-list>
<router-outlet></router-outlet>