
    nav a {
        padding: 100px 500px;
        text-decoration: none;
        margin-top: 10px;
        display: inline-block;
        background-color: #eee;
        border-radius: 4px;
      }
      nav a:visited, a:link {
        color: rgb(56, 142, 185);
      }
     
      .mat-list-base .mat-list-item {
          height: 250px; 
      }