
    nav a {
        padding: 90px 100px;
        text-decoration: none;
        display: inline-block;
        background-color: #eee;
    
      }
      
      nav a:visited, a:link {
        color: rgb(56, 142, 185);
      }
      

      .mat-list-base .mat-list-item {
          height: 250px; 
          background-color: #eeee;
          
      }
      mat-list-item:visited, a:link {
        color: rgb(56, 142, 185);
      }