<h3>Top Movies</h3>

<mat-nav-list>
  <a mat-list-item><img width="150vw" src="{{movies}}">
    <nav> <a routerLink="/movie" routerLinkActive="active"> More about the movie</a>

    </nav><a routerLink="/view" routerLinkActive="active"> Se film</a>

  </a>

  <a mat-list-item><img width="150vw" src="{{movie2}}">
    <nav> <a routerLink="/movie" routerLinkActive="active"> More about the movie</a> </nav>
  </a>

  <a mat-list-item><img width="150vw" src="{{movie3}}">
    <nav> <a routerLink="/movie" routerLinkActive="active"> More about the movie</a> </nav>
  </a>

  <a mat-list-item> <img width="150vw" src="{{movie4}}">
    <nav> <a routerLink="/movie" routerLinkActive="active"> More about the movie</a> </nav>
  </a>

  <a mat-list-item> <img width="150vw" src="{{movie5}}">
    <nav> <a routerLink="/movie" routerLinkActive="active"> More about the movie</a> </nav>
  </a>

</mat-nav-list>