@import url('https://fonts.googleapis.com/css?family=Roboto');

.header {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto';
  font-variant: small-caps;
}

h2{
  font-size: 30px;
  font-family: 'Roboto';
  font-variant: small-caps;
  margin-bottom: 0px;
}

h3 {
  font-size: 25px;
  margin: 0px;
  font-family: 'Roboto';
}

i {
  font-size: 20px;
  font-family: 'Roboto';
}

nav a { /*"Read more"-utrymmet*/
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
  background-color: rgb(250, 245, 203);
  margin-right: 70px;
  margin-left: 20px;
}

nav a:visited, a:link { /*Ger länkens färg*/
  color: rgb(56, 142, 185);
}

.mat-list-base .mat-list-item { /*Hela raden (listobjektet)*/
  height: 250px;
  background-color: rgba(236, 209, 236, 0.966);
  margin-bottom: 50px;
}

.mat-list-base .mat-list-item img{
  margin-right: 50px;
}

.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Roboto';
  font-variant: small-caps;
  border-radius: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-rent-movie {
  background-color: white;
  color: black;
  border: 2px solid purple;
}

.button-rent-movie:hover {
  background-color: purple;
  color: white;
}
