<!--The content below is only a placeholder and can be replaced.-->

<div class="wrapper">

  <div class="test">
    <img class="logo" width="80vw" alt="No image" src="assets/img/movie_icon_1.png">
    <h1> Welcome to {{ title }} </h1>
  </div>
  <nav class="navigation-bar">
    <a routerLink="/homepage" routerLinkActive="active">Homepage</a>
    <a routerLink="/view" routerLinkActive="active">My rented Movies</a>
    <a routerLink="/history" routerLinkActive="active">History</a>
  </nav>

</div>

<router-outlet> </router-outlet>