<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="100vw" alt="Snart kommer fin bild här" src="">
</div>
<h2>Here are some links to help you start: </h2>
<nav>
  <a routerLink="/view" routerLinkActive="active"> View</a>
  <a routerLink="/homepage" routerLinkActive="active">Home page</a>
  <a routerLink="/movie" routerLinkActive="active"> Movie</a>
  <a routerLink="/history" routerLinkActive="active"> History</a>

</nav>
<router-outlet> </router-outlet>