@import url('https://fonts.googleapis.com/css?family=Roboto');


h2 {
  font-size: 4em;
  font-family: 'Roboto';
  font-variant: small-caps;
  color: rgb(235, 218, 68);
  margin: 0;
  }
  
.wrapper{
  text-align: left;
  margin:50px auto;
}

nav a {
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
  vertical-align: right;
  background-color: rgb(219, 188, 245);
  border-radius: 10px;
  font-family: 'Roboto';
  font-size: 20px;
  font-variant: small-caps; 
  margin-right: 20px;
  margin-top: 20px;
}
 
nav a:hover {
  color: #000000;
  background-color: rgb(213, 142, 231);
  font-family: 'Roboto';
  font-size: 20px;
  font-variant: small-caps;
}

nav a.active {
  color: #653369;
}

.navigation-bar {
  height: 84px;
  background: url("src/assets/img/tab_menu.jpg") repeat-x;
}

.logo {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  margin-left: 25px;
  margin-top: -8px;    /* if you want it vertically middle of the navbar. */
}
